<div class="rebloom-intro trial">

  <img src="{{ 'rebloom-bottle.png' | asset_url }}" alt="reBloom all natural sleep drink"/>

  <h2>

    all natural<span></span> sleep drink

  </h2>

</div>

<div class="all-natural-sleep-drink">

  <a href="https://innovative-brands-llc.chargify.com/h/3629012/subscriptions/new" target="_blank" class="order-button trial">Start my free trial</a>

  <img src="{{ 'rebloom-promise.svg' | asset_url }}">

  <h3>

    We're dedicated to

    <br>

    conveniently providing a

    <br>

    <em>non-habit forming,</em>

    <br class="duo">

    all-natural sleep drink

    <br>

    that gives you

    <br>

    <em>better quality sleep</em>

    <br class="duo">

    and leaves you

    <br>

    feeling refreshed for

    <br>

    your best tomorrow

  </h3>

</div>

<div class="start-your-trial">

  <h4>

    start your free trial

  </h4>

  <h5>

    Try out our reBloom

    <br>

    two bottle Free Trial<span class="ast"></span>,

    <br class="dt"><br>

    <span class="u-one">and experience better</span>

    <br>

    <span class="u-two">sleep for yourself!</span>

  </h5>

  <a href="https://innovative-brands-llc.chargify.com/h/3629012/subscriptions/new" target="_blank">￼Start my free trial</a>

</div>

<div class="free-trial-details">

  <p>

    With your reBloom 2-bottle Free

    <br>

    Trial, you’ll be automatically

    <br>

    opted into the reBloom 14-bottle

    <br>

    subscription. <br class="dt">You have 10 days

    <br>

    following your order to decide

    <br>

    whether to continue enjoying

    <br>

    reBloom or to cancel your

    <br><br class="dt">

    subscription. Don’t worry,

    <br>

    we’ll send you a reminder email.

    <br>

    If you choose to continue, you’ll

    <br>

    receive a new <br class="dt">14-bottle supply

    <br>

    every 30-days. You can cancel,

    <br>

    pause or adjust your

    <br>

    subscription at anytime for any

    <br>

    reason.

    <em>

      Your satisfaction is our priority!

    </em>

  </p>

</div>
